n8n-workflows/WF-07-achat-credits-stripe.json
{
  "name": "WF-07: Achat Crédits Stripe",
  "nodes": [
    {
      "id": "webhook-start",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "stripe-credits-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-credits-webhook",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "verify-signature",
      "name": "Verify Stripe Signature",
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "stripeApi": {
          "id": "stripe-api",
          "name": "Stripe API"
        }
      },
      "parameters": {
        "events": ["payment_intent.succeeded"]
      }
    },
    {
      "id": "check-event-type",
      "name": "Check Event Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "payment_intent.succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "get-metadata",
      "name": "Extract Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [850, 300],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "user_id",
              "value": "={{ $json.body.data.object.metadata.user_id }}"
            },
            {
              "name": "pack_type",
              "value": "={{ $json.body.data.object.metadata.pack_type }}"
            },
            {
              "name": "credits_amount",
              "value": "={{ $json.body.data.object.metadata.credits_amount }}"
            }
          ]
        }
      }
    },
    {
      "id": "calculate-credits",
      "name": "Calculate Credits with Bonus",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "parameters": {
        "language": "javascript",
        "jsCode": "// Calcul des crédits selon le pack\nconst packType = $input.first().json.pack_type;\nlet credits = 0;\nlet bonus = 0;\n\nswitch(packType) {\n  case 'starter':\n    credits = 12;\n    bonus = 0;\n    break;\n  case 'standard':\n    credits = 40;\n    bonus = 4;\n    break;\n  case 'pro':\n    credits = 75;\n    bonus = 15;\n    break;\n  case 'business':\n    credits = 150;\n    bonus = 30;\n    break;\n  default:\n    credits = parseInt($input.first().json.credits_amount) || 0;\n}\n\nconst totalCredits = credits + bonus;\nreturn [{\n  json: {\n    user_id: $input.first().json.user_id,\n    pack_type: packType,\n    base_credits: credits,\n    bonus_credits: bonus,\n    total_credits: totalCredits\n  }\n}];"
      }
    },
    {
      "id": "add-credits",
      "name": "Add Credits to User",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1250, 300],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "WF-05: Gestion Crédits"
        },
        "workflowInputs": {
          "values": [
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            },
            {
              "name": "amount",
              "value": "={{ $json.total_credits }}"
            },
            {
              "name": "description",
              "value": "=Achat pack {{ $json.pack_type }} ({{ $json.base_credits }} + {{ $json.bonus_credits }} bonus)"
            },
            {
              "name": "type",
              "value": "purchase"
            },
            {
              "name": "operation",
              "value": "add"
            }
          ]
        }
      }
    },
    {
      "id": "send-confirmation",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [1450, 300],
      "credentials": {
        "smtp": {
          "id": "brevo-smtp",
          "name": "Brevo SMTP"
        }
      },
      "parameters": {
        "toAddresses": "={{ $json.user_email }}",
        "subject": "Confirmation d'achat - Crédits ajoutés",
        "text": "Bonjour,\n\nVotre achat de {{ $json.total_credits }} crédits a été confirmé.\n\nDétails :\n- Pack : {{ $json.pack_type }}\n- Crédits de base : {{ $json.base_credits }}\n- Bonus : {{ $json.bonus_credits }}\n- Total : {{ $json.total_credits }} crédits\n\nMerci pour votre confiance !",
        "html": "<h1>Confirmation d'achat</h1><p>Votre achat de <strong>{{ $json.total_credits }} crédits</strong> a été confirmé.</p><ul><li>Pack : {{ $json.pack_type }}</li><li>Crédits de base : {{ $json.base_credits }}</li><li>Bonus : {{ $json.bonus_credits }}</li><li>Total : {{ $json.total_credits }} crédits</li></ul><p>Merci pour votre confiance !</p>"
      }
    },
    {
      "id": "response-success",
      "name": "Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1650, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"message\": \"Crédits ajoutés avec succès.\"}"
      }
    },
    {
      "id": "response-ignored",
      "name": "Response - Ignored",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 500],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"message\": \"Event ignored.\"}"
      }
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Verify Stripe Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Stripe Signature": {
      "main": [
        [
          {
            "node": "Check Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Event Type": {
      "main": [
        [
          {
            "node": "Extract Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Metadata": {
      "main": [
        [
          {
            "node": "Calculate Credits with Bonus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Credits with Bonus": {
      "main": [
        [
          {
            "node": "Add Credits to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Credits to User": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Response - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": ["stripe", "credits", "payment"]
}
