archive/avatarstudio/n8n-workflow-video.json
{
  "name": "Create Video",
  "nodes": [
    {
      "parameters": {},
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "create-video"
    },
    {
      "parameters": {
        "functionCode": "const authHeader = $input.first().json.headers.authorization;\nconst token = authHeader?.replace('Bearer ', '');\nconst jwt = require('jsonwebtoken');\ntry {\n  const decoded = jwt.verify(token, process.env.JWT_SECRET || 'secret');\n  return {\n    json: {\n      userId: decoded.userId,\n      avatar_id: $input.first().json.body.avatar_id,\n      prompt: $input.first().json.body.prompt\n    }\n  };\n} catch (e) {\n  return { json: { error: 'Invalid token' } };\n}"
      },
      "name": "Verify JWT",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT balance FROM credits WHERE user_id = ?",
        "parameters": "={{ JSON.stringify([$json.userId]) }}"
      },
      "name": "Check Credits",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [
        650,
        200
      ],
      "credentials": {
        "sqlite": "sqlite-db"
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a1",
              "leftValue": "={{ $json.results[0]?.balance }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ]
        }
      },
      "name": "Has Credits?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE credits SET balance = balance - 20 WHERE user_id = ?",
        "parameters": "={{ JSON.stringify([$json.userId]) }}"
      },
      "name": "Deduct Credits",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [
        1050,
        100
      ],
      "credentials": {
        "sqlite": "sqlite-db"
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO transactions (user_id, type, amount, description) VALUES (?, 'video_generation', -20, 'Video generation')",
        "parameters": "={{ JSON.stringify([$json.userId]) }}"
      },
      "name": "Create Transaction",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [
        1250,
        100
      ],
      "credentials": {
        "sqlite": "sqlite-db"
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO videos (user_id, avatar_id, prompt, status) VALUES (?, ?, ?, 'pending')",
        "parameters": "={{ JSON.stringify([$json.userId, $json.avatar_id, $json.prompt]) }}"
      },
      "name": "Create Video",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [
        1450,
        100
      ],
      "credentials": {
        "sqlite": "sqlite-db"
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Video generation started' }) }}"
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1650,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Insufficient credits' }) }}"
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify JWT": {
      "main": [
        [
          {
            "node": "Check Credits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Credits": {
      "main": [
        [
          {
            "node": "Has Credits?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Credits?": {
      "main": [
        [
          {
            "node": "Deduct Credits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduct Credits": {
      "main": [
        [
          {
            "node": "Create Transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Transaction": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "active": false
}
