n8n-workflows-api-ready/WF-07-achat-credits-stripe.json
{
  "name": "WF-07: Achat Crédits Stripe",
  "nodes": [
    {
      "id": "webhook-start",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "stripe-credits-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-credits-webhook",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "verify-signature",
      "name": "Verify Stripe Signature",
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "stripeApi": {
          "id": "stripe-api",
          "name": "Stripe API"
        }
      },
      "parameters": {
        "events": ["payment_intent.succeeded"]
      }
    },
    {
      "id": "check-event-type",
      "name": "Check Event Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "payment_intent.succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "get-metadata",
      "name": "Extract Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [850, 300],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "user_id",
              "value": "={{ $json.body.data.object.metadata.user_id }}"
            },
            {
              "name": "credits_amount",
              "value": "={{ $json.body.data.object.metadata.credits_amount }}"
            },
            {
              "name": "plan",
              "value": "={{ $json.body.data.object.metadata.plan || 'starter' }}"
            }
          ]
        }
      }
    },
    {
      "id": "calculate-price",
      "name": "Calculate Price per Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "parameters": {
        "language": "javascript",
        "jsCode": "// Calcul du prix selon le plan\n// starter: 3€/crédit, pro: 2€/crédit, business: 1.5€/crédit\nconst plan = $input.first().json.plan;\nconst credits = parseInt($input.first().json.credits_amount) || 0;\n\nlet pricePerCredit = 3; // starter default\n\nswitch(plan) {\n  case 'starter':\n    pricePerCredit = 3;\n    break;\n  case 'pro':\n    pricePerCredit = 2;\n    break;\n  case 'business':\n    pricePerCredit = 1.5;\n    break;\n}\n\nconst totalPrice = (credits * pricePerCredit).toFixed(2);\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    plan: plan,\n    credits: credits,\n    price_per_credit: pricePerCredit,\n    total_price: totalPrice\n  }\n}];"
      }
    },
    {
      "id": "add-credits",
      "name": "Add Credits to User",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1250, 300],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "WF-05: Gestion Crédits"
        },
        "workflowInputs": {
          "values": [
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            },
            {
              "name": "amount",
              "value": "={{ $json.credits }}"
            },
            {
              "name": "description",
              "value": "=Achat {{ $json.credits }} crédits (Plan {{ $json.plan }}) - {{ $json.total_price }}€"
            },
            {
              "name": "type",
              "value": "purchase"
            },
            {
              "name": "operation",
              "value": "add"
            }
          ]
        }
      }
    },
    {
      "id": "send-confirmation",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [1450, 300],
      "credentials": {
        "smtp": {
          "id": "brevo-smtp",
          "name": "Brevo SMTP"
        }
      },
      "parameters": {
        "toAddresses": "={{ $json.user_email }}",
        "subject": "Confirmation d'achat - Crédits ajoutés",
        "text": "Bonjour,\n\nVotre achat de {{ $json.credits }} crédits a été confirmé.\n\nDétails :\n- Plan : {{ $json.plan }}\n- Crédits : {{ $json.credits }}\n- Prix unitaire : {{ $json.price_per_credit }}€\n- Total : {{ $json.total_price }}€\n\nMerci pour votre confiance !",
        "html": "<h1>Confirmation d'achat</h1><p>Votre achat de <strong>{{ $json.credits }} crédits</strong> a été confirmé.</p><ul><li>Plan : {{ $json.plan }}</li><li>Crédits : {{ $json.credits }}</li><li>Prix unitaire : {{ $json.price_per_credit }}€</li><li>Total : {{ $json.total_price }}€</li></ul><p>Merci pour votre confiance !</p>"
      }
    },
    {
      "id": "response-success",
      "name": "Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1650, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"message\": \"Crédits ajoutés avec succès.\"}"
      }
    },
    {
      "id": "response-ignored",
      "name": "Response - Ignored",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 500],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"message\": \"Event ignored.\"}"
      }
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Verify Stripe Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Stripe Signature": {
      "main": [
        [
          {
            "node": "Check Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Event Type": {
      "main": [
        [
          {
            "node": "Extract Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Metadata": {
      "main": [
        [
          {
            "node": "Calculate Price per Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Price per Plan": {
      "main": [
        [
          {
            "node": "Add Credits to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Credits to User": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Response - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}