n8n-workflows-api-ready/WF-14-alertes-credits-faibles.json
{
  "name": "WF-14: Alertes Crédits Faibles",
  "nodes": [
    {
      "id": "cron-trigger",
      "name": "Hourly Cron Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "get-low-credits",
      "name": "Get Users with Low Credits",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, email, first_name, credits_remaining, subscription_plan FROM users WHERE credits_remaining <= 3 AND credits_remaining > 0 AND subscription_status = 'active';"
      }
    },
    {
      "id": "check-results",
      "name": "Has Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.length > 0 }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "split-batches",
      "name": "Split Users",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "check-last-alert",
      "name": "Check Last Alert (24h)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1050, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as alert_count FROM processing_logs WHERE workflow_name = 'WF-14: Alertes Crédits Faibles' AND user_id = '{{ $json.id }}' AND status = 'alert_sent' AND created_at > NOW() - INTERVAL '24 hours';"
      }
    },
    {
      "id": "already-alerted",
      "name": "Already Alerted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json[0].alert_count > 0 }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "send-alert",
      "name": "Send Low Credits Alert",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [1450, 300],
      "credentials": {
        "smtp": {
          "id": "brevo-smtp",
          "name": "Brevo SMTP"
        }
      },
      "parameters": {
        "toAddresses": "={{ $json.email }}",
        "subject": "⚠️ Il vous reste {{ $json.credits_remaining }} crédit(s) - bocco.ai",
        "text": "Bonjour {{ $json.first_name }},\n\nVotre solde de crédits est presque épuisé !\n\nIl vous reste : {{ $json.credits_remaining }} crédit(s)\n\nPour continuer à créer des vidéos et avatars sans interruption, pensez à recharger votre compte.\n\nAcheter des crédits : https://bocco.ai/dashboard/credits\n\nCordialement,\nL'équipe bocco.ai",
        "html": "<h1>⚠️ Solde de crédits faible</h1><p>Bonjour {{ $json.first_name }},</p><p>Votre solde de crédits est presque épuisé !</p><div style='background: #fff3cd; border: 1px solid #ffc107; padding: 15px; margin: 20px 0; border-radius: 5px;'><strong>Il vous reste : {{ $json.credits_remaining }} crédit(s)</strong></div><p>Pour continuer à créer des vidéos et avatars sans interruption, pensez à recharger votre compte.</p><p><a href='https://bocco.ai/dashboard/credits' style='display: inline-block; padding: 12px 24px; background: #007bff; color: white; text-decoration: none; border-radius: 5px;'>Acheter des crédits</a></p><p>Cordialement,<br>L'équipe bocco.ai</p>"
      }
    },
    {
      "id": "log-alert",
      "name": "Log Alert Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1650, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO processing_logs (workflow_name, user_id, status, metadata, created_at) VALUES ('WF-14: Alertes Crédits Faibles', '{{ $json.id }}', 'alert_sent', '{\"credits_remaining\": {{ $json.credits_remaining }}, \"plan\": \"{{ $json.subscription_plan }}\"}', NOW());"
      }
    },
    {
      "id": "no-action",
      "name": "No Action (Already Alerted)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1450, 500]
    },
    {
      "id": "skip-empty",
      "name": "Skip Empty Results",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Hourly Cron Check": {
      "main": [
        [
          {
            "node": "Get Users with Low Credits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Users with Low Credits": {
      "main": [
        [
          {
            "node": "Has Results?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results?": {
      "main": [
        [
          {
            "node": "Split Users",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Empty Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Users": {
      "main": [
        [
          {
            "node": "Check Last Alert (24h)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Last Alert (24h)": {
      "main": [
        [
          {
            "node": "Already Alerted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Alerted?": {
      "main": [
        [
          {
            "node": "Send Low Credits Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action (Already Alerted)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Low Credits Alert": {
      "main": [
        [
          {
            "node": "Log Alert Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}